<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yeetong.rpc.service.dao.zn.SmartCultureFarmMapper">
  <resultMap id="BaseResultMap" type="org.yeetong.rpc.service.model.SmartCultureFarm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="farm_id" jdbcType="VARCHAR" property="farmId" />
    <result column="farm_name" jdbcType="VARCHAR" property="farmName" />
    <result column="farm_code" jdbcType="VARCHAR" property="farmCode" />
    <result column="qr_code_url" jdbcType="VARCHAR" property="qrCodeUrl" />
    <result column="organize_id" jdbcType="VARCHAR" property="organizeId" />
    <result column="owner_user_id" jdbcType="VARCHAR" property="ownerUserId" />
    <result column="province_code" jdbcType="CHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_code" jdbcType="CHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="county_code" jdbcType="CHAR" property="countyCode" />
    <result column="county_name" jdbcType="VARCHAR" property="countyName" />
    <result column="weather_city_code" jdbcType="VARCHAR" property="weatherCityCode" />
    <result column="weather_city_name" jdbcType="VARCHAR" property="weatherCityName" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="acreage" jdbcType="VARCHAR" property="acreage" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
</mapper>