<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yeetong.rpc.service.dao.zn.SmartCultureEquipmentTypeMapper">
  <resultMap id="BaseResultMap" type="org.yeetong.rpc.service.model.SmartCultureEquipmentType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
</mapper>